body {
  font-family: 'Roboto', sans-serif;
  background-color: #020617;
  color: #e5e7eb;
}

.layout {
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 2rem;
  max-width: 1400px;
  margin: 0 auto;
  padding: 2rem;
}

.sidebar {
  position: sticky;
  top: 2rem;
}

.content section {
  margin-bottom: 4rem;
}

.expandable summary {
  cursor: pointer;
  font-weight: bold;
  margin-top: 1rem;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;       /* espacio entre proyectos */
  justify-content: flex-start;
}

.project-card {
  flex: 1 1 45%;   /* 45% de ancho mínimo, crecer hasta disponible */
  max-width: 45%;  /* evita que un proyecto crezca demasiado */
  background-color: #111827;
  padding: 1rem;
  border-radius: 12px;
  box-sizing: border-box;
  text-align: center;
}

.project-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

/* Responsive para móvil */
@media (max-width: 768px) {
  .project-card {
    flex: 1 1 100%;
    max-width: 100%;
  }
  .layout {
    grid-template-columns: 1fr;
  }

  .sidebar {
    position: static;
  }
}
