body {
  font-family: 'Roboto', sans-serif;
  background-color: #020617;
  color: #e5e7eb;
}

.layout {
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 2rem;
  max-width: 1400px;
  margin: 0 auto;
  padding: 2rem;
}

.sidebar {
  position: sticky;
  top: 2rem;
}

.content section {
  margin-bottom: 4rem;
}

.expandable summary {
  cursor: pointer;
  font-weight: bold;
  margin-top: 1rem;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem; /* espacio entre proyectos */
}

.project-card {
  background-color: #111827;
  padding: 1rem;
  border-radius: 12px;
  text-align: center;
}

.project-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-top: 0.5rem;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

/* Mobile */
@media (max-width: 900px) {
  .layout {
    grid-template-columns: 1fr;
  }

  .sidebar {
    position: static;
  }
}
